:root {
    --welcome-card-bg: white;
    --welcome-text: white;
    --welcome-bg-start: #3f5efb;
    --welcome-bg-end: #fc466b;
    --welcome-nav-height: 66px;
    --welcome-nav-gap: 10px;
    --z-index-bottom-nav: 10; 
  }